:root {
    --light: #E1E2E3;
    --lighter: #F0F1F2;
    --lightest: #FCFEFF;
    --text: #181E25;
    --dark: #2D4149;
    --accent: #C7994C;
}

a {
    color: var(--dark);
}

    a.active {
        color: var(--lightest);
    }

    a.active::before {
        background-color: var(--accent);
        border-radius: 0.5em;
    }

body {
    background-color: var(--lighter);
    color: var(--dark);
}

    menu {
        background-color: var(--dark);
    }

        #page-nav {
            backdrop-filter: blue(5px);
            border-top: 1.5px solid var(--dark);
        }

        #cart-item-count {
            color: var(--lightest);
        }
