:root {
    --main-width: 100vw;
    --page-height: 90vh;
    --nav-height: 10vh;
}

/* DISPLAY */
.hide {
    display: none;
}

.flex {
    display: flex;
}

main,
.item-line {
    display: grid;
}

#page,
.category-view,
.item-card,
.item-view,
.item-action,
.cart-view,
.cart-list,
nav,
#shop-nav,
.cart-summary {
    display: flex;
}

#page,
.item-card,
.item-view,
.cart-view,
.cart-list,
#items-list,
.cart-summary {
    flex-flow: column;
}

/* LAYOUTS */

#page {
    grid-area: page;
    justify-content: start;
    align-items: center;
    width: 100%;
}

body {
    height: 100vh;
    width: 100vw;
}

    main {
        grid-template-columns: 1fr;
        grid-template-rows: var(--page-height) var(--nav-height);
        grid-template-areas: 'page'
                             'nav';
        height: inherit;
        width: inherit;
    }

        #page {
            overflow: auto;
        }

            #content {
                width: 100%;
            }

                .category-view {
                    flex-wrap: wrap;
                    justify-content: center;
                }

                    .item-card {
                        height: 300px;
                        width: 300px;
                    }

                .item-action {
                    justify-content: center;
                }

                .item-line {
                    grid-template-columns: auto 30vw 1fr auto;
                    grid-template-rows: auto auto;
                    grid-template-areas: 'remove image title price'
                                        'remove image count subtotal';
                }

                    .remove {
                        grid-area: remove;
                    }

                    .item-line img {
                        grid-area: image;
                    }

                    .title {
                        grid-area: title;
                    }

                    .price {
                        grid-area: price;
                    }

                    .item-line .item-counter {
                        grid-area: count;
                    }

                    .subtotal {
                        grid-area: subtotal;
                    }

        nav {
            grid-area: nav;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            width: 100%;
            padding: 1vh 1.5vh;
        }

            #menu-links {
                width: 100%;
                position: absolute;
                z-index: 1;
                bottom: 10vh;
                left: 0;
                gap: 1em;
                padding: 1vh 1.5vh;
            }

            #back {
                margin-left: auto;
            }

            #forward {
                margin-right: auto;
            }

            .item-count {
                position: absolute;
                bottom: 6.25vh;
                right: 0.75vh;
            }
