:root {
    --page-width: 100vw;
    --main-height: 90dvh;
    --menu-height: 10dvh;
    --page-padding: 2vh;
    --med-gap: 1em;
    --large-gap: calc(var(--med-gap) * 1.5);
    --small-gap: calc(var(--med-gap) * 0.5);
}

a {
    position: relative;
    z-index: 0;
    height: auto;
    width: auto;
}

    a.active::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-0.25em) translateY(-0.25em);
        z-index: -1;
        height: calc(100% + 0.5em);
        width: calc(100% + 0.5em);
        padding: calc(var(--med-gap) * 0.5);
    }

/* PAGE NAV TOGGLE */

.hide {
    display: none;
}

.show {
    display: flex;
}

/* DISPLAY */

#app,
.item-line {
    display: grid;
}

main,
menu,
button,
.content,
#category-nav,
.item-card,
#change-quantity,
#item-action,
#cart-list,
footer {
    display: flex;
}

main,
main menu,
#cart-view,
#item-view,
.item-card,
#item-action,
#cart-list,
.item-line #change-quantity,
footer {
    flex-flow: column;
}

/* UNIFORM SPACING */

#page-nav,
#site-menu,
#category-menu,
.item-card {
    padding: var(--page-padding);
}

main {
    width: inherit;
    padding: var(--page-padding) var(--page-padding) var(--menu-height);
}

button {
    justify-content: center;
    align-items: center;
}

/* LAYOUTS */

body {
    height: 100dvh;
    width: 100vw;
}

    #app {
        grid-template-columns: 1fr;
        grid-template-rows: var(--main-height) var(--menu-height);
        grid-template-areas: 'main'
                             'menu';
        height: inherit;
        width: inherit;
    }

        main {
            grid-area: main;
            justify-content: start;
            align-items: center;
            height: 100%;
            width: 100%;
            overflow: auto;
            gap: var(--large-gap);
        }

            .content {
                justify-content: center;
                align-items: start;
                width: 100%;
                gap: var(--large-gap);
            }

                .content img {
                    width: 100%;
                    margin-bottom: var(--med-gap);
                }

                #welcome-message {
                    position: relative;
                    top: 50%;
                }

                #category-view {
                    flex-wrap: wrap;
                }

                    #category-menu {
                        align-items: center;
                        gap: var(--large-gap);
                    }

                        #category-nav {
                            gap: 1em;
                            flex-wrap: wrap;
                            justify-content: center;
                        }

                    .item-card {
                        height: auto;
                        width: 100%;
                        max-width: 300px;
                    }

                #item-view img {
                    padding: var(--page-padding);
                }

                #item-view h2 {
                    align-self: center;
                    width: auto;
                }

                #item-action {
                    align-self: center;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    width: 80vw;
                    gap: var(--small-gap);
                }

                    #change-quantity {
                        justify-content: center;
                        align-items: center;
                        gap: var(--small-gap);
                    }

                        input {
                            width: auto;
                        }

                        #change-quantity button {
                            height: 1.5em;
                            width: 1.5em;
                        }

                        input {
                            height: 1.5em;
                        }

                    #item-view #remove-item,
                    #add-item,
                    #checkout {
                        width: 10em;
                        padding: var(--small-gap);
                    }

                        #remove-item img {
                            margin: 0;
                            padding: 0;
                            height: 1em;
                            width: 1em;
                        }

                #cart-list {
                    gap: var(--med-gap);
                }

                    .item-line {
                        grid-template-columns: 6em 0.5fr 0.5fr 2em;
                        grid-template-rows: 2em 2em 2em;
                        grid-template-areas: 'image title title    action'
                                             'image price price    action'
                                             'image count subtotal remove';
                        column-gap: var(--small-gap);
                        padding: var(--small-gap);
                    }

                        .item-img {
                            grid-area: image;
                            height: 100%;
                            width: 100%;
                        }

                            .item-line .item-img {
                                margin: 0;
                            }

                        .title {
                            grid-area: title;
                        }

                        .price {
                            grid-area: price;
                        }

                        .subtotal {
                            grid-area: subtotal;
                        }

                        .count {
                            grid-area: count;
                        }

                        .item-line #change-quantity {
                            grid-area: action;
                        }

                        #remove-item {
                            grid-area: remove;
                        }

                footer {
                    align-self: start;
                    gap: var(--small-gap);
                }

        #site-menu {
            grid-area: menu;
            align-items: center;
            z-index: 2;
            height: 100%;
            width: inherit;
        }

            #page-nav {
                position: absolute;
                z-index: 1;
                bottom: var(--menu-height);
                left: 0;
                width: inherit;
                gap: var(--med-gap);
            }

            #site-menu img {
                height: 90%;
            }

                #nav-home {
                    margin: 0 auto;
                }

            #cart-item-count {
                position: absolute;
                bottom: 6.25vh;
                right: 0.75vh;
                height: 3vh;
                width: 3vh;
            }

@media only screen and (min-width: 768px) {
    #item-view {
        width: auto;
        display: grid;
        grid-template-columns: calc(50vw / 2 ) minmax(min-content, 1fr);
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas: 'title title'
                             'image description'
                             'image price'
                             'image action'
    }

        #item-view h2 {
            width: max-content;
        }

        h1 {
            grid-area: title;
        }

        #item-view img {
            grid-area: image;
            height: auto;
            width: 100%;
            justify-self: center;
        }

        #description {
            grid-area: description;
        }

        #price {
            grid-area: price;
        }

        #item-action {
            width: auto;
            grid-area: action;
            align-self: start;
        }

            #item-action img {
                height: 1em;
                width: 1em;
            }

    #cart-view {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas: 'list checkout'
    }

        #cart-list {
            grid-area: list;
            overflow: auto;
        }

        footer {
            grid-area: checkout;
            position: sticky;
            top: var(--page-padding);
        }
}
