/* CATEGORY VIEW */

.nav-header {
    border: 1.5px solid var(--nav);
    border-radius: 0.5em;
}
/* ITEM VIEW */

.item-action .remove img {
    height: 1em;
}

    .item-counter input,
    .item-counter .decrement,
    .item-counter .increment {
        border: 1.5px solid var(--dark);
        border-radius: 0.5em;
    }

    .item-counter input {
        height: 1.5em;
        text-align: center;
    }

    .item-counter .decrement,
    .item-counter .increment {
        height: 1.5em;
        width: 1.5em;
        text-align: center;
        vertical-align: center;
    }

/* CART */

.item-line {
    border: 1px solid var(--dark);
    border-radius: 0.5em;
    padding: 0.5em;
}

.item-line .item-img {
    height: 100%;
    width: 100%;
}

.item-line .remove img {
    height: 1em;
}

    .item-line .item-counter input {
        width: 3em;
    }

/* NAVIGATION */

#menu {
    height: 75%;
}

#menu-links {
    list-style: none;
}

    #menu-links a {
        text-decoration: none;
    }

.navigate {
    height: 60%;
}

#logo {
    height: 100%;
    padding: 0 2.5vh;
}

.cart-summary {
    height: 75%;
    width: calc(10vh * 0.75);
}

    .cart-summary img {
        height: 100%;
    }

    .item-count {
        background-color: red;
        height: calc(3vh);
        width: calc(3vh);
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
    }
