body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#category-view h2,
#item-view h2 {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

a {
    text-decoration: none;
}

#page-nav {
    font-size: 1.25em;
}

#cart-item-count {
    font-size: 0.95em;
    text-align: center;
    padding-top: 0.50vh;
}

#category-nav {
    font-size: 1.15em;
}

article #title {
    font-weight: bold;
}

input,
#change-quantity {
    text-align: center;
    vertical-align: middle;
}

.item-line span {
    margin-top: auto;
    margin-bottom: auto;
}

    .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
    }

    .subtotal {
        text-align: end;
    }
