body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

#page-nav {
    font-size: 1.25em;
}

#cart-item-count {
    text-align: center;
    vertical-align: middle;
}

#category-nav {
    font-size: 1.15em;
}

article #title {
    font-weight: bold;
}

input,
#change-quantity {
    text-align: center;
    vertical-align: middle;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
